
img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.flexcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.flexcontainer>div {
    padding: 15px;
    width: 400px;
    height: 515px;
    border: solid 2px black;
}